# CODEOWNERS file for project-wide governance and reviews.

# DSH owners
services/dsh/**                                     @bthwani

# WLT owners
services/wlt/**                                     @bthwani

# CI & GitHub Workflows owners
.github/workflows/**                                @bthwani

# Runtime configuration & script owners
infra/docker/**                                     @bthwani

# API contracts owners
services/dsh/contracts/**                           @bthwani
