engine-strict=true
strict-peer-dependencies=false
auto-install-peers=false
shared-workspace-lockfile=true
save-exact=true
node-linker=isolated
only-built-dependencies[]=nx
only-built-dependencies[]=sharp
ignored-built-dependencies[]=@ast-grep/cli
