-- DSH-133: J020 Partner Onboarding state machine and unified refs
ALTER TABLE dsh_partners ADD COLUMN IF NOT EXISTS workforce_person_id TEXT NOT NULL DEFAULT '';
ALTER TABLE dsh_partners ADD COLUMN IF NOT EXISTS owner_actor_id TEXT NOT NULL DEFAULT '';
ALTER TABLE dsh_partners ADD COLUMN IF NOT EXISTS onboarding_case_status TEXT NOT NULL DEFAULT 'draft';

